.action-bar {
  background-color: burlywood;
}

.card-container {
  background-color: darkseagreen;
}

.card {
  background-color: white;
  margin: 50px;
  height: 30%;
  width: auto;
  border-radius: 5%;
}

.company-name {
  margin: 10%;
  font-weight: bold;
  font-size: 24px;
}

.contact-info {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12px;
}

.square {
  background-color: burlywood;
}

.btn {
  width: 40%;
  height: 5%;
  background-color: burlywood;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  margin: 40px;
}
