<StackLayout verticalAlignment="center" class="label-container">
  <Label text="Basic Label." class="label"></Label>

  <Label
    text="Label with textWrap set to true so the text will just continue to wrap the screen with more lines of text."
    textWrap="true"
    class="label"
  ></Label>
  <Label text="Label with textWrap set to false so the text will cut off at the edge of the screen." class="label"></Label>

  <Label text="letterSpacing" letterSpacing="1" textWrap="true" class="label"></Label>

  <Label text="underline" textDecoration="underline" textWrap="true" class="label"></Label>
  <Label text="line-through" textDecoration="line-through" textWrap="true" class="label"></Label>

  <Label textWrap="true" class="label">
    <FormattedString>
      <Span text="Label using a formatted string to add the number "></Span>
      <Span [text]="lines" style="color: white; background-color: rgb(48, 62, 67)"></Span>
      <Span text=" in with different formatting."></Span>
    </FormattedString>
  </Label>

  <Label class="label fs-10" text="This text will scale with font size 10 as default"></Label>

  <Label (loaded)="dynamicLabelLoaded()" text="Dynamic Label" textWrap="true"></Label>

  <Label
    (loaded)="labelLoaded()"
    #notesLabel
    text="This text is split to only wrap to 2 lines. It will wrap the text just like above but it will only wrap for 2 lines before cutting off and adding the 3 dots"
    class="label"
  ></Label>
</StackLayout>
